@font-face {
   font-family: "Orkney";
   src: url("../../assets/fonts/Orkney-Regular.woff2") format("woff2"),
      url("../../assets/fonts/Orkney-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Orkney";
   src: url("../../assets/fonts/Orkney-Medium.woff2") format("woff2"),
      url("../../assets/fonts/Orkney-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Orkney";
   src: url("../../assets/fonts/Orkney-Bold.woff2") format("woff2"),
      url("../../assets/fonts/Orkney-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}
